<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/project001?useUnicode=true&amp;characterEncoding=UTF-8</property>
    	
    	<!--<property name="hbm2ddl.auto">update</property>-->
    	
    	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    	<property name="show_sql">false</property>
    	<property name="format_sql">true</property>
    	
    	
    	<!--<mapping class="project001.admin.entity.Test6" />-->
    	<mapping class="project001.admin.entity.Tag" />
    	<mapping class="project001.admin.entity.Banner" />
    	
    	<mapping resource="project001/admin/entity/Admin.hbm.xml" />
    	<mapping resource="project001/admin/entity/WebInfo.hbm.xml" />
    	<mapping resource="project001/admin/entity/ItemInfo.hbm.xml" />
    	<mapping resource="project001/admin/entity/Category.hbm.xml" />
    	<!--<mapping resource="project001/admin/entity/Tag.hbm.xml" />-->
    	<mapping resource="project001/admin/entity/Type.hbm.xml" />
    	<mapping resource="project001/admin/entity/Image.hbm.xml" />
    	<mapping resource="project001/admin/entity/Banner.hbm.xml" />
    </session-factory>
</hibernate-configuration>
